    private $value;

    public function __construct(bool $value)
    {
        {{scalar_constructor_conditions}}
        $this->value = $value;
    }

    public function value(): bool
    {
        return $this->value;
    }