namespace {{namespace_name}} {
    class {{class_name}}
    {
        private $value;

        public function __construct(bool $value)
        {
            $this->value = $value;
        }

        public function value(): bool
        {
            return $this->value;
        }
        {{body}}
    }
}
