namespace {{namespace_name}} {
    {{class_keyword}}class {{class_name}}{{class_extends}}
    {
        {{properties}}
        {{constructor}}
        {{accessors}}
        {{setters}}
        {{body}}
    }
}
