    public static function with({{arguments}}): {{class_name}}
    {
        {{static_constructor_body}}
    }

    protected function setPayload(array $payload): void
    {
        {{payload_validation}}
        $this->payload = $payload;
    }