    private $value;

    public function __construct(float $value)
    {
        {{scalar_constructor_conditions}}
        $this->value = $value;
    }

    public function value(): float
    {
        return $this->value;
    }