    private $value;

    public function __construct(int $value)
    {
        {{scalar_constructor_conditions}}
        $this->value = $value;
    }

    public function value(): int
    {
        return $this->value;
    }