    private $values = [];

    public function __construct(array $values)
    {
        {{scalar_constructor_conditions}}
        foreach ($values as $value) {
            if (! \is_int($value)) {
                throw new \InvalidArgumentException('Expected an array of int');
            }
            $this->values[] = $value;
        }
    }

    /**
     * @return int[]
     */
    public function values(): array
    {
        return $this->values;
    }