        public function toString(): string
        {
            return $this->value->toString();
        }

        public function __toString(): string
        {
            return $this->value->toString();
        }