    private $value;

    public function __construct(string $value)
    {
        {{scalar_constructor_conditions}}
        $this->value = $value;
    }

    public function value(): string
    {
        return $this->value;
    }