    private $values = [];

    public function __construct(array $values)
    {
        foreach ($values as $value) {
            if (! \is_string($value)) {
                throw new \InvalidArgumentException('Expected an array of string');
            }
            $this->values[] = $value;
        }
    }

    /**
     * @return string[]
     */
    public function values(): array
    {
        return $this->values;
    }